<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <title>Boolzap</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="hover.css">
    <link rel="stylesheet" href="mediaQuery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- Background -->
        <div @click="removeAllDelateMessage()"></div>
        <div @click="removeAllDelateMessage()"></div>
        <!-- Container -->
        <div id="container" @click="removeAllDelateMessage()">
            <!-- Contacts container -->
            <div id="contactsContainer" v-bind:class="resCla == true ? 'resContactsContainer' : ''">
                <!-- User -->
                <div id="user">
                    <div>
                        <img class="profilePicture curPoi" src="img/avatar_io.jpg" alt="Foto profilo user">
                        <div class="marLef0_5rem curPoi">Sofia</div>
                    </div>
                    <div class="colGre">
                        <i class="fa-solid fa-circle-notch curPoi hovColBla"></i>
                        <i class="fa-solid fa-message marLef1rem curPoi hovColBla"></i>
                        <i class="fa-solid fa-ellipsis-vertical marLef1rem marRig0_5rem curPoi hovColBla"></i>
                    </div>
                </div>
                <!-- Notifications -->
                <div id="notifications">
                    <div class="profilePicture curPoi" @click="actDisNot()">
                        <i v-bind:class="iconNotification"></i>
                    </div>
                    <div class="marLef0_5rem">
                        <h5 class="curPoi" @click="actDisNot()">{{notificationMessage1}}</h5>
                        <div class="fonSiz0_75rem colGre marTop0_1rem texDecUnd curPoi" @click="actDisNot()">{{notificationMessage2}}</div>
                    </div>
                </div>
                <!-- Search bar -->
                <div id="searchBar">
                    <button class="curPoi" @click="filter()">
                        <i class="fa-solid fa-magnifying-glass colGre"></i>
                    </button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="inputFilter" @keyup.enter="filter()">
                </div>
                <!-- Contacts -->
                <div id="contacts">
                    <div class="contact curPoi" v-for="(contact, i) in contacts" v-bind:class="i == chatToShow ? 'bacColGre' : 'hovBacColLigGre'" @click="showChat(i), funRes()" v-show="contact.visible == true">
                        <div>
                            <img class="profilePicture" v-bind:src="contact.srcProfilePicture" v-bind:alt="contact.alt">
                            <div class="marLef0_5rem">
                                <div>{{contact.name}}</div>
                                <div class="fonSiz0_75rem colGre">{{contact.messages[contact.messageNumber-1].message}}</div>
                            </div>
                        </div>
                        <div class="fonSiz0_75rem colGre">{{contact.messages[contact.messageNumber-1].date.hour}}</div>
                    </div>
                </div>
            </div>
            <!-- Chat -->
            <div id="chat" v-bind:class="resCla == true ? 'resChat' : ''">
                <!-- Info contact chat -->
                <div id="infoContactChat">
                    <div>
                        <img class="profilePicture curPoi" v-bind:src="contacts[chatToShow].srcProfilePicture" alt="Contatto 1">
                        <div class="marLef0_5rem">
                            <div class="curPoi">{{contacts[chatToShow].name}}</div>
                            <div class="fonSiz0_75rem colGre">Ultimo accesso {{contacts[chatToShow].lastAccess.day}} alle {{contacts[chatToShow].lastAccess.hour}}</div>
                        </div>
                    </div>
                    <div class="colGre">
                        <i class="fa-solid fa-magnifying-glass curPoi hovColBla"></i>
                        <i class="fa-solid fa-paperclip marLef1rem curPoi hovColBla"></i>
                        <i class="fa-solid fa-ellipsis-vertical marLef1rem marRig0_5rem curPoi hovColBla"></i>
                    </div>
                    <div @click="funRes()">
                        <i class="fa-solid fa-chevron-left marRig0_5rem curPoi fonSiz2rem"></i>
                    </div>
                </div>
                <!-- Message container -->
                <div id="messageContainer">
                    <div class="messageCard" v-for="(message, i) in contacts[chatToShow].messages" v-bind:class="message.status == 'sent' ? 'sent' : 'received'" @click.prevent.right="showDelateMessage(i)">
                        <div>{{message.message}}</div>
                        <div class="colGre">{{message.date.hour}}</div>
                        <div class="curPoi" v-show="message.delateMessage == true" @click="delateMessage(i)">
                            <i class="fa-solid fa-trash marRig0_5rem"></i>
                            Elimina messaggio
                        </div>
                    </div>
                </div>
                <!-- Input message -->
                <div id="inputMessage">
                    <div>
                        <i class="fa-regular fa-face-smile fonSiz1_25rem colGre curPoi hovColBla"></i>
                    </div>
                    <div>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="inputUser" @keyup.enter="sendMessage()">
                    </div>
                    <div>
                        <i class="fa-solid fa-microphone fonSiz1_25rem colGre curPoi hovColBla"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>